<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.swjtuhc.demo.mapper.UserMapper">
 

	<select id="listM" resultType="SysUser">
		select * from user 
	</select>
 
	<select id="getM" parameterType="int" resultType="SysUser">
		select * from users where u_id= #{u_id}
	</select>
 
    <delete id="deleteM" parameterType="SysUser">
		delete from users where u_id= #{u_id}
	</delete>
	
	<update id="editM" parameterType="SysUser">
		update users set u_name=#{u_name},u_nickname=#{u_nickname},u_sex=#{u_sex},u_age=#{u_age},u_email=#{u_email},u_phone=#{u_phone}   where u_id= #{u_id}
	</update>
 
    <insert id="addM" parameterType="SysUser">
		INSERT INTO users(u_name,u_nickname,u_sex,u_age,u_email,u_phone)VALUES(#{u_name},#{u_nickname},#{u_sex},#{u_age},#{u_email},#{u_phone})
	</insert>
 
 
 
</mapper>

